.num{
    border-style: dotted;
    border-radius: 10px;
}
.months{
    border-style: dotted;
    border-radius: 10px;
}
.days{
    border-style: dotted;
    border-radius: 10px;
}
.greetings{
    border-style: dotted;
    border-radius: 10px;
}